@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* Global Resets */
*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --size-xxs: 0.2rem;
  --size-xs: 0.5rem;
  --size-md: 0.8rem;
  --size-lg: 1rem;
  --size-xl: 1.2rem;
  --size-xxl: 2rem;
  --size-huge: 10rem;

  --speed-base: 300ms;
  --speed-fast: 250ms;
  --speed-faster: 200ms;
  --speed-fastest: 180ms;
  --speed-slow: 350ms;
  --speed-slower: 400ms;
  --speed-slowest: 900ms;

  --z-index-background: 100;
  --z-index-mid: 200;
  --z-index-foreground: 400;
  --z-index-closer: 999;

  --gap-xxs: var(--size-xxs);
  --gap-xs: var(--size-xs);
  --gap-md: var(--size-md);
  --gap-lg: var(--size-lg);
  --gap-xl: var(--size-xl);
  --gap-xxl: var(--size-xxl);
  --gap-huge: var(--size-huge);

  --font-size-xxs: 0.5rem;
  --font-size-xs: 0.6rem;
  --font-size-s: 0.8rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-huge: 6rem;

  --bg-color: #fff;
  --bg-color--inverse: #202020;
}

@media (width >= 600px) {
  :root {
    --size-xxs: 1.5rem;
    --size-xs: 1.8rem;
    --size-md: 2rem;
    --size-lg: 2.2rem;
    --size-xl: 2.5rem;
    --size-xxl: 3rem;
    --size-huge: 11rem;

    --font-size-xxs: 0.7rem;
    --font-size-xs: 0.8rem;
    --font-size-s: 1rem;
    --font-size-md: 1.2rem;
    --font-size-lg: 1.4rem;
    --font-size-xl: 1.7rem;
    --font-size-xxl: 2.2rem;
    --font-size-huge: 6.2rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: BootsAndSpurs;
  src: url("/fonts/bootsandspurs-webfont.woff") format("woff2"),
    url("/fontsbootsandspurs-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  /* This is the base font size that our REM units will reference */
  /* 100% will use the browsers default font size */
  font-size: 100%;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  flex-direction: column;
  height: 100dvh;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--gray-12);
  background: var(--grey-1);
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: auto;

  @media (width >= 1000px) {
    grid-template-areas:
      "aside header"
      "aside main"
      "aside footer";
    grid-template-columns: auto 1fr;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: BootsAndSpurs;
  margin: 0;
}

h2 {
  font-size: var(--font-size-fluid-1);
}

p {
  margin: 0;
}

p + p {
  margin-top: var(--size-md);
}

img {
  width: 100%;
}

/* Layout */

.l-header {
  grid-area: header;
  animation: a-slide-in-down var(--speed-base)
    cubic-bezier(0.55, 0.02, 0.48, 1.19);
}

@keyframes a-slide-in-down {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

.l-main {
  overflow-y: scroll;
  grid-area: main;
}

.l-footer {
  grid-area: footer;
  animation: a-slide-in-up var(--speed-base);
}

@keyframes a-slide-in-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.l-aside {
  grid-area: aside;
  display: none;
  padding: var(--size-md, 1rem);

  @media (width >= 1000px) {
    display: block;
  }
}

/* Components */

.c-nav-bar {
  padding: var(--size-md) var(--size-lg);
  background-color: var(--bg-color--inverse);
  color: white;
  display: flex;
  gap: var(--gap-xs);
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-logo {
  display: flex;
  align-items: center;
  font-family: BootsAndSpurs;
}

.c-aside-nav-container {
  background-color: var(--bg-color--inverse);
}

.c-nav-bar_list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  a {
    color: white;
    text-decoration: none;
    min-height: 45px;
    min-width: 45px;
    display: flex;
    align-items: center;
    scale: 1;
    transition: scale 300ms ease-in-out;
    font-weight: bold;
    gap: 0.2rem;

    &.is-active {
      text-decoration: underline;
      color: brown;
    }

    &:hover {
      color: #bb0000;
      scale: 1.1;
    }
  }

  i {
    padding-bottom: 3px;
    transition: all var(--speed-fast);
  }

  a:hover i {
    color: rgb(120, 5, 5);
  }
}

.c-nav-bar_list--desktop {
  display: none;

  @media (width >= 510px) {
    display: flex;
  }

  @media (width >= 1000px) {
    display: none;
  }
}

.c-nav-bar_list--mobile {
  flex-direction: column;
  position: fixed;
  z-index: 200;
  right: 0;
  width: 90vw;
  height: 100dvh;
  background-color: #202020;
  padding: 2rem;
  transform: translateX(100%);
  /* This will add the animation for opening and closing */
  transition: all 300ms ease-in-out;

  &.is-open {
    transform: translateX(0%);
  }

  @media (width >= 510px) {
    display: none;
  }
}

.c-btn-nav-toggle {
  width: 45px;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;

  &:hover {
    color: red;
    scale: 1.1;
  }

  @media (width >= 510px) {
    display: none;
  }
}

.c-btn-nav-close {
  width: 45px;
  background: none;
  border: 0 solid transparent;
  font-size: 28px;
  color: red;
  text-align: right;
  align-self: flex-end;
}

/* We swap out oru desktop nav when we finally have space for horizontal menu list */

.c-hero {
  width: 100%;
  min-height: 400px;
  /* background-image: url(/media/home-header.jpg);
  background-size: cover; */
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
  position: relative;

  @media only screen and (min-width: 600px) {
    text-align: left;
    flex-wrap: nowrap;
  }

  .c-col {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-md);

    @media only screen and (width >= 600px) {
      flex: 1 1 50%;
      align-items: flex-start;
    }
  }

  .c-col--last {
    display: flex;

    @media only screen and (min-width: 600px) {
      display: block;
    }
  }

  /* INFO: same as `.c-hero.c-hero-contact` */
  &.c-hero--small {
    min-height: 250px;
  }

  .c-hero_content {
    position: relative;
    padding: var(--size-fluid-2);
    z-index: var(--z-index-mid);
    backdrop-filter: blur(4px);
  }

  .c-hero-bg-img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url(/media/home-header.jpg);
    background-size: cover;
    transition: all 300ms ease-in-out;
  }

  .c-hero_content:hover + .c-hero-bg-img-container {
    filter: grayscale(100%);
    /* opacity: 0.9; */
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.c-title {
  max-width: 488px;
  /* We don't want the last word to be a widow */
  text-wrap: balance;
  font-size: var(--font-size-fluid-2);
  background: var(--gradient-20);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.c-section--alt {
  background-image: var(--gradient-8);
  color: var(--gray-1);
}

.c-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-2);
  letter-spacing: var(--font-letterspacing-2);
  background: var(--gradient-1);
  box-shadow: var(--shadow-3);
  border: var(--);
  padding: 1rem;
  color: white;
  text-decoration: none;
  border-radius: 0.2rem;
  max-width: 280px;
  appearance: none;
  border: 0 solid transparent;
  border: var(--border-size-1) solid var(--gray-4);
  border-radius: var(--radius-blob-1);
  transition: all var(--speed-fastest) cubic-bezier(1, -0.01, 0.53, 1.52);

  &:hover {
    box-shadow: var(--shadow-4);
    animation: var(--animation-pulse);
  }

  &.c-btn--secondary {
    background-color: grey;
  }

  &.c-btn--wide {
    max-width: 400px;
    width: 100%;
  }
}

.c-features {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  @media only screen and (min-width: 600px) {
    flex-wrap: nowrap;
  }

  .c-col {
    flex: 1;

    &:first-child {
      flex: 1;
      min-width: 250px;
    }

    &:last-child {
      flex: 1 1 auto;
    }
  }

  .c-features_hero-img {
    max-width: 600px;
  }
}

.c-reviews {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .c-row {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;

    @media only screen and (min-width: 600px) {
      flex-wrap: nowrap;
    }
  }
}

.c-reviews .c-col {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}

.c-reviews .c-row--author {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.c-reviews .c-img-author {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.c-reviews .c-author-name:before {
  content: "- ";
}

.c-gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Notice I don't scope it to gallery */
.c-guitar-blocks-list {
  display: flex;
  overflow-x: auto;
  gap: 1.2rem;
}

.c-guitar-blocks-list--gallery {
  flex-wrap: wrap;
  justify-content: center;
}

.c-guitar-block-item {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 320px;
}

.c-guitar_row {
  display: flex;
  justify-content: space-between;
}

.c-guitar-col-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    line-break: anywhere;
  }
}

.c-footer {
  background-color: #202020;
  color: white;
  text-align: center;
  padding: 2rem;
}

.c-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);
  background-color: #d9d9d9;
  padding: 1rem;
  border-radius: 1rem;

  fieldset {
    border: 0 solid transparent;
  }

  legend {
    visibility: hidden;
  }

  .c-input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-md);

    @media (width >= 600px) {
      flex-wrap: nowrap;
    }
  }

  .input-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    &.row {
      flex-direction: row;
      align-items: center;
    }
  }

  .input-field input:focus:not(:focus-visible) {
    outline: green;
  }

  .input-field input:focus {
    outline: green;
    background-color: #bb0000;
  }

  label {
    text-align: left;
    font-size: 0.8rem;
  }

  input:not([type="submit"]),
  textarea {
    background-color: white;
    border-radius: 0.8rem;
    min-height: 45px;
    border: 1px solid grey;
    font-size: 1.2rem;

    &:hover {
      border-color: chocolate;
    }

    &:active,
    &:focus {
      border-color: chocolate;
    }

    &:disabled {
      background-color: grey;
    }
  }

  input[type="radio"]:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
  }

  /* input::placeholder {
    color: greenyellow;
  } */

  .c-radio-group {
    display: flex;
    gap: 2rem;
  }

  .c-radio-row {
    display: flex;
    align-items: center;
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
  }

  .c-fieldset-gap {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
  }

  .c-form-actions {
    padding-top: var(--gap-md);
    display: flex;
    justify-content: center;
  }
}

.c-checkbox {
  width: 16px;
  height: 16px;
}

/* Utilities */

.u-section-gutter {
  padding: 106px 30px;
}

.u-border-radius-md {
  border-radius: 1rem;
}

.u-bg {
  background-color: white;
}

.u-bg-inverse {
  background-color: #d9d9d9;
}

.u-hidden {
  display: none;
}

/* .banner {
  position: relative;
  height: 25rem;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0;
}

.banner-content {
  position: absolute;
  inset: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

.c-yt-iframe {
  height: auto;
}

@keyframes FedbounceInLeft {
  0%,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.c-review-details {
  background-color: #d9d9d9;

  summary {
    background-color: #bb0000;

    &::before {
      content: "🫣";
    }
  }

  summary::marker {
    color: green;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    display: none;
    content: "";
    visibility: hidden;
  }
}
