/* Global Resets */
*,
*:after,
*:before {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: BootsAndSpurs;
  src: url("/fonts/bootsandspurs-webfont.woff") format("woff2"),
    url("/fontsbootsandspurs-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  /* This is the base font size that our REM units will reference */
  /* 100% will use the browsers default font size */
  font-size: 100%;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  font-size: 100%;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: BootsAndSpurs;
  margin: 0;
}

p {
  margin: 0;
}

p + p {
  margin-top: 1rem;
}

img {
  width: 100%;
}

/* Layout */

.l-header {
  flex: 1 0 auto;
}

.l-main {
  flex: 2 1 auto;
  overflow-y: scroll;
}

.l-footer {
  flex: 0 1 auto;
}

/* Components */

.c-nav-bar {
  padding: 1rem 1.2rem;
  background-color: #202020;
  color: white;
  display: flex;
  gap: 15%;
  flex-wrap: wrap;
}

.c-logo {
  display: flex;
  align-items: center;
  font-family: BootsAndSpurs;
}

.c-nav-bar_list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.c-nav-bar_list a {
  color: white;
  text-decoration: none;
  min-height: 45px;
  min-width: 45px;
  display: flex;
  align-items: center;
}

.c-hero {
  width: 100%;
  min-height: 400px;
  background-image: url(/media/home-header.jpg);
  background-size: cover;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
}

.c-hero .c-col {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-hero .c-col--last {
  display: flex;
}

.c-hero .c-btn {
  margin: 1rem auto 0;
}

@media only screen and (min-width: 600px) {
  .c-hero {
    text-align: left;
    flex-wrap: nowrap;
  }

  .c-hero .c-col {
    flex: 1 1 50%;
  }

  .c-hero .c-col--last {
    display: block;
  }
}

.c-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #bb0000;
  padding: 1rem;
  color: white;
  text-decoration: none;
  border-radius: 0.2rem;
  max-width: 280px;
  appearance: none;
  border: 0 solid transparent;

  &.c-btn--secondary {
    background-color: grey;
  }
}

.c-features {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.c-features .c-col {
  flex: 1;
}

.c-features .c-col:first-child {
  flex: 1;
  min-width: 280px;
}

.c-features .c-col:last-child {
  flex: 1 1 auto;
}

@media only screen and (min-width: 600px) {
  .c-features {
    flex-wrap: nowrap;
  }
}

.c-reviews {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .c-row {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 600px) {
  .c-reviews .c-row {
    flex-wrap: nowrap;
  }
}

.c-reviews .c-col {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}

.c-reviews .c-row--author {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.c-reviews .c-img-author {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.c-reviews .c-author-name:before {
  content: "- ";
}

.c-gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Notice I don't scope it to gallery */
.c-guitar-blocks-list {
  display: flex;
  overflow-x: auto;
  gap: 1.2rem;
}

.c-guitar-block-item {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 320px;
}

.c-guitar_row {
  display: flex;
  justify-content: space-between;
}

.c-guitar-col-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.c-footer {
  background-color: #202020;
  color: white;
  text-align: center;
  padding: 2rem;
}

.c-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #d9d9d9;
  padding: 1rem;
  border-radius: 1rem;

  .input-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &.row {
      flex-direction: row;
      align-items: center;
    }
  }

  label {
    text-align: left;
    font-size: 0.8rem;
  }

  legend {
    visibility: hidden;
  }

  fieldset {
    border: 0 solid transparent;
  }

  input:not([type="submit"]) {
    background-color: white;
    border-radius: 0.8rem;
    min-height: 45px;
    border: 1px solid grey;
    font-size: 1.2rem;

    &:hover {
      background-color: chocolate;
    }

    &:active,
    &:focus {
      background-color: #bb0000;
    }

    &:disabled {
      background-color: grey;
    }
  }

  input[type="radio"]:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
  }

  /* input::placeholder {
    color: greenyellow;
  } */

  .c-radio-group {
    display: flex;
    gap: 2rem;
  }

  .c-radio-row {
    display: flex;
    align-items: center;
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
  }
}

.c-checkbox {
  width: 14px;
  height: 14px;
}

/* Utilities */

.u-section-gutter {
  padding: 106px 30px;
}

.u-border-radius-md {
  border-radius: 1rem;
}

.u-bg {
  background-color: white;
}

.u-bg-inverse {
  background-color: #d9d9d9;
}

.u-hidden {
  display: none;
}

/* .banner {
  position: relative;
  height: 25rem;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0;
}

.banner-content {
  position: absolute;
  inset: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} */
